* {
  box-sizing: border-box;
}
.page {
  padding: 10px 0px 100px 0px;
}
img {
  height: 70px;
}
.logo {
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.main {
  font-size: 16px;
  padding: 10px 0px;
  height: 100%;
  width: 400px;
  border: 0.5px solid rgb(219, 218, 218);
  border-radius: 5px;
}
.form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
h2 {
  display: flex;
  align-items: center;
  justify-content: center;
}
label {
  padding: 20px 0px;
  display: flex;
  justify-content: flex-start;
}

input {
  padding: 10px;
  display: flex;
  justify-content: center;
  width: 300px;
  height: 35px;
}

button {
  font-size: 18px;
  background-color: #d1c6c6;
  width: 300px;
  height: 35px;
  border: 0.5px solid rgb(104, 103, 103);
  border-radius: 3px;
}
.sign button {
  color: black;
  background-color: #ffa726;
}

.sign {
  padding: 25px;
}

.login {
  padding: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}

a {
  color: black;
  text-decoration: none;
}
